{% extends 'app_general/components/base.html' %}
{% load static %}
{% block site_title %}{{icepop.title}}{{ icepop_id }} {% endblock  %}

{% block content %}
        {% if icepop is not None %}
        <div>
            <div>
                <img src="{% static icepop.image_relative_url %}">
            </div>   
            <h3>{{icepop.title}}</a></h3>
            {% if icepop.special_price is not None %}
            <p>
                <span>{{icepop.special_price | floatformat:'g'}} 円</span>
                <del>{{ icepop.price | floatformat:'g'}} 円</del>
            </p>
        {% else %}
            <p>{{ icepop.price | floatformat:'g'}} 円</p>
        {% endif %}
            {% if icepop.is_premium %}
                <p>**THIS IS LIMITED ICEPOP</p>
            {% endif %}
            <p>this promo will exit untill {{icepop.promo_end_at | date:'j N Y'}}</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi maiores, necessitatibus, mollitia cumque illo ipsa provident id sunt vel rerum cum dolorum, perspiciatis et eius repellendus? Asperiores eos numquam sint!</p>
        </div>
    {% else %}
        <p>not found</p>
    {% endif %}
{% endblock  %}

